#user-holder {
	width:auto;
	height:30%;
	margin-left:10px
}
#nickname {
	float:left;
}
#profile-picture {
	width:100px;
	height:100px;
	border:black solid 1px;
	float:left
}
#user-info {
	margin-left:150px;
	text-align:left;
	word-wrap: break-word;
}
#desc-area {
	width: 100%;
	height: 150px;
}
.editable {
	float:right;
}
#edit-holder {
	margin-left:10px;
	width: 40%;
	height:auto;
}
.date-space {
	width: 40px;
	float:right;
	margin-left:20px;
}
.error {
	color:red;
}
#post-submitter {
	text-decoration: none;
	color: gray;
}
#post-title {
	color: gray;
	text-decoration: none;
}
#post-submitter-deleted {
	color:black;
	text-decoration: line-through;
}
#comment {
	width:100%;
	height: auto;
}
#post-comment-title {
	float:left;
	color:orange;
	font-weight:bold;
}
#post-comment-content {
	float: left;
	color: black;
}
#post-comment-submitter {
	float:left;
	text-decoration: underline;
}
.post-comment {
	background-color:gray;
	width: auto;
}
.button {
	text-decoration: none;
	font-weight: bold;
}
#comment-submitter-deleted {
	float:left;
}
#link-to-post {
	text-decoration: none;
	color: orange;
	font-weight: bold;
}
#edit-link {
	float:right;
	text-decoration: none;
	color:blue;
}
.admin-link {
	margin:4%;
	font-weight: bold;
	font-size: 20px;
	color: gray;
	text-decoration: none;
}
.page-content{
	margin-left: 10%;
	margin-right: 10%;
	overflow-y: auto;
}
.page-header{
	position: fixed;
	width:98%;
	top:0px;
	background-color: white;
}