#user-holder {
	width:auto;
	height:30%;
	margin-left:10px
}
#nickname {
	float:left;
}
#profile-picture {
	width:100px;
	height:100px;
	border:black solid 1px;
	float:left;
	z-index: 49
}
#hover-view{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
	position: fixed;
    background-color: black;
    opacity: 0;
}
.profile-pic:hover {background-color:gray}
#user-info {
	margin-left:150px;
	text-align:left;
	word-wrap: break-word;
}
#desc-area {
	width: 100%;
	height: 150px;
}
.editable {
	float:right;
}
#edit-holder {
	margin-left:10px;
	width: 40%;
	height:auto;
}
.date-space {
	width: 40px;
	float:right;
	margin-left:20px;
}
.error {
	color:red;
}
#post-submitter {
	text-decoration: none;
	color: gray;
}
#post-title {
	color: gray;
	text-decoration: none;
}
#post-submitter-deleted {
	color:black;
	text-decoration: line-through;
}
#comment {
	width:100%;
	height: auto;
}
#post-comment-title {
	float:left;
	color:orange;
	font-weight:bold;
}
#post-comment-content {
	background-color: gray;
	float: left;
	color: black;
	
}
#comment-content-full {
	display:none;
	position: absolute;
	right:240px;
	width:60%;
	background:darkgray;
	word-wrap:break-word;
}
#post-comment-content:hover > #comment-content-full {
	display:block;
}
#post-comment-submitter {
	float:left;
	text-decoration: underline;
}
.post-comment {
	background-color:gray;
	width: 100%;
	display:block;
	overflow: hidden;
}
.button {
	text-decoration: none;

}
#comment-submitter-deleted {
	float:left;
}
#link-to-post {
	text-decoration: none;
	color: orange;
	font-weight: bold;
}
#edit-link {
	float:right;
	text-decoration: none;
	color:black;
	margin-left:6px;
	font-weight:bold;
}
li-link {
	margin:2%;
	font-weight: bold;
	font-size: 20px;
	color: gray;
	text-decoration: none;
}
.page-content{
	margin-left: 10%;
	margin-right: 10%;
	overflow-y: auto;
	margin-top: 75px;
}
.menu-left{
	position: fixed;
    left: 0px;
    margin-left: 1%;
    max-width: 8%;
    margin-right: 0%;
    top: 67px
}
.people-container{
	text-decoration: none; 
}
.search-container{

    width: 30%;
    float: left;
    overflow: hidden;
    margin-right:3%;
}
#user-chart {
	display:block;
	width: 15%;
	height:auto;
	background-color: darkgray;
	border: black solid 1px;
	float:left;
	margin:10px;
	padding:10px;
}
.user-chart-link {
	text-decoration:none;
	font-style:oblique;
	color:black;
	font-weight: bold;
}
#user-chart-name {
	text-decoration:none;
	font-family: "Courier New", monospace;
	font-weight: bold;
	color:darkblue;
}
.header-link {
	font-size: 3ex;
	text-decoration:none;
	margin-left: 5%;
	color: black;
}
.header-link:hover {
	background-color: darkgray;
}
#header {
    font-family: "Courier New", monospace;
    overflow: none;
    background-color: gray;
    position: fixed;
    width: 100%;
    top: 0px;
    margin-left: 0;
    z-index: 2147483647;
}
.logo{
	float: left;
	width: 24px;
	height: 24px;
	margin: 15px;
}
.profile-pic{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: -13px;
}
.profile-pic:hover {
	background-color:gray;
}
#banned-error{
    text-align: center;
    color: red;
    background-color: white;
}
#inbox-link {
	cursor:pointer;
}
#bandeja {
	position:fixed;
	top: 54px;
	right:3%;
	width:40%;
	height:215px;
	display:none;
	border: groove 3px darkgray;
	overflow:scroll;
	z-index:2147483646;
}
ul, ol {
	list-style: none;
}
* {
	margin: 0px;
	padding: 0px;
}
.menu li a {
	background-color: gray;
	color: black;
	text-decoration: none;
	display: block;

}
.menu li a:hover {
	background-color: darkgray;
}
.menu > li {
	margin-left:5%;
	float:left;
	margin-top: 15px
}
.menu li ul {
	display: none;
	position:absolute;
	max-width: 140px;

}
.menu li:hover > ul{
	margin:0px;
	display: block;
	z-index:2147483647;
}
.admin-link {
	margin:2%;
	font-weight: bold;
	font-size: 20px;
	color: gray;
	text-decoration: none;
}

#report-razon {
	color:red;
	margin-left: 60%;
}
#head-razon{
	margin-left: 50%
}
.reported-comment{
    word-wrap: break-word;
    max-width: 40%;
}
#chart {
	width:40%;
	height:300px;
	float:left;
	margin:25px;

}
#chart2 {
	width:40%;
	height:300px;
	float:left;
	margin:25px;
}

/* Hora de empezar la responsividad*/

@media screen and (max-width: 800px) {
	#chart,#chart2 {
		float:none;
		border:none;
	}
}

.img-viewer-img{

    width: 70%;
    float: left;
    height: 600px;
    margin: 3%;
    margin-top: 4.5%;
    opacity: 1;
}
.img{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
}

.img-viewer{

    display: none;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.721569);
}

.change-pic{    
	top: 25%;
    position: absolute;
    right: 0px;
    max-width: 25%;
}

#img-viewer-close{
    margin: 136.5px;
    top: -77.2px;
    position: absolute;
    right: -7%;
    max-width: 25%;
    cursor: pointer;
}

li.username{
	margin-left: 0px
}

.prof-li hr {
	margin:0px;
}