#user-holder {
	width:auto;
	height:30%;
	margin-left:10px
}
#nickname {
	float:left;
}
#profile-picture {
	width:100px;
	height:100px;
	border:black solid 1px;
	float:left;
	z-index: 49
}
#hover-view{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
	position: fixed;
    background-color: black;
    opacity: 0;
}
.profile-pic:hover {background-color:gray}
#user-info {
	margin-left:150px;
	text-align:left;
	word-wrap: break-word;
}
#desc-area {
	width: 100%;
	height: 150px;
}
.editable {
	float:right;
}
#edit-holder {
    margin-left: 10px;
    /* width: 40%; */
    text-align: left;
    height: auto;
}
.well{
	opacity: 0.85;
	word-break: break-word;
	overflow-y:auto;
}
.navbar-right {
    float: inherit;
    margin-right: 0;
}
.navbar-form {
	margin-bottom: 0px
}
.date-space {
	width: 40px;
	float:right;
	margin-left:20px;
}
.error {
	color:red;
}
#post-submitter {
	text-decoration: none;
	color: gray;
}
#post-title {
	color: gray;
	text-decoration: none;
}
#post-submitter-deleted {
	color:black;
	text-decoration: line-through;
}
#comment {
	width:100%;
	height: auto;
}
#post-comment-title {
	float:left;
	color:orange;
	font-weight:bold;
}
#post-comment-content {
	text-align:center;
	color: black;
	
}
#comment-content-full {
	display:none;
	position: absolute;
	right:240px;
	width:60%;
	background:darkgray;
	word-wrap:break-word;
}
#post-comment-content:hover > #comment-content-full {
	display:block;
}
#post-comment-submitter {
	float:left;
	text-decoration: underline;
}
.post-comment {
	background-color:white;
	margin-bottom: 7px;
	margin-top: 7px;
	border:1px solid;
	opacity: 0.85;
	padding:10px; 
	width: 100%;
	display:block;
	overflow: hidden;
}
.button {
	text-decoration: none;

}
#comment-submitter-deleted {
	float:left;
}
#link-to-post {
	text-decoration: none;
	color: orange;
	font-weight: bold;
}
#edit-link {
	float:right;
	text-decoration: none;
	color:black;
	margin-left:6px;
	font-weight:bold;
}
li-link {
	margin:2%;
	font-weight: bold;
	font-size: 20px;
	color: gray;
	text-decoration: none;
}
.page-content{
	padding-left: 15px;
	padding-right: 15px
}
.menu-left{
	position: fixed;
    left: 0px;
    margin-left: 1%;
    max-width: 8%;
    margin-right: 0%;
    top: 67px
}
.people-container{
	text-decoration: none; 
}
.search-container{

    width: 30%;
    float: left;
    overflow: hidden;
    margin-right:3%;
}
#user-chart {
	display:block;
	width: 15%;
	height:auto;
	background-color: darkgray;
	border: black solid 1px;
	float:left;
	margin:10px;
	padding:10px;
}
.user-chart-link {
	text-decoration:none;
	font-style:oblique;
	color:black;
	font-weight: bold;
}
#user-chart-name {
	text-decoration:none;
	font-family: "Courier New", monospace;
	font-weight: bold;
	color:darkblue;
}
.header-link {
	font-size: 3ex;
	text-decoration:none;
	margin-left: 5%;
	color: black;
}
.header-link:hover {
	background-color: darkgray;
}
#header {
    font-family: "Courier New", monospace;
    overflow: none;
    background-color: gray;
    position: fixed;
    width: 100%;
    top: 0px;
    margin-left: 0;
    z-index: 2147483647;
}
.logo{
	float: left;
	width: 24px;
	height: 24px;
	margin: 15px;
}
.profile-pic{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: -13px;
}
.profile-pic:hover {
	background-color:gray;
}
#banned-error{
    text-align: center;
    color: red;
    background-color: white;
}
#inbox-link {
	cursor:pointer;
}
#bandeja {
    position: fixed;
    top: 54px;
    right: 3%;
    color: white;
    background-color: #222;
    width: 40%;
    height: 215px;
    display: none;
    border: groove 3px #222;
    overflow: scroll;
    z-index: 2147483646;
}
ul, ol {
	list-style: none;
}
* {
	color: black;
	border-radius: 4px;
	margin: 0px;
	padding: 0px;
}
/*.menu li a {
	background-color: gray;
	color: black;
	text-decoration: none;
	display: block;

}
.menu li a:hover {
	background-color: darkgray;
}
.menu > li {
	margin-left:5%;
	float:left;
	margin-top: 15px
}*/
.menu li ul {
	display: none;
	position:absolute;
	max-width: 140px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #222;
	z-index:2147483647

}
#post-options{
	display: none;
	position:absolute;
	max-width: 140px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #f3f3f3;
	z-index:2147483647	
}
.post-options-bt{
	color:#c7c7c7;
}

#myNavbar{
	overflow-y: inherit;
}
.navbar-inverse .navbar-nav>li>ul>li>a {
    color: #9d9d9d;
}
.navbar-inverse .navbar-nav>li>ul>li>a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration:none;
}
.navbar-collapse {
    overflow-y: inherit;
}
.menu li:hover > ul{
	display: block;
}
.admin-link {
	margin:2%;
	font-weight: bold;
	font-size: 20px;
	color: gray;
	text-decoration: none;
}
#report-razon {
	color:red;
	margin-left: 60%;
}
#head-razon{
	margin-left: 50%
}
.reported-comment{
    word-wrap: break-word;
    max-width: 40%;
}
#chart {
	width:40%;
	height:300px;
	float:left;
	margin:25px;

}
#chart2 {
	width:40%;
	height:300px;
	float:left;
	margin:25px;
}

.post-content{
	max-height: 136px;
	height: 136px;
}

/* Hora de empezar la responsividad*/

@media (max-width: 768px){
.post-content {margin-bottom: 150px}
}
.img-viewer-img{

    width: 70%;
    float: left;
    height: 600px;
    margin: 3%;
    margin-top: 4.5%;
    opacity: 1;
}
.img{
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer;
}

.img-viewer{

    display: none;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.721569);
}

.change-pic{    
	top: 25%;
    position: absolute;
    right: 0px;
    max-width: 25%;
}

#img-viewer-close{
    margin: 136.5px;
    top: -77.2px;
    position: absolute;
    right: -7%;
    max-width: 25%;
    cursor: pointer;
    color: #f3f3f3
}
.change-bg{
	display: none;
	position:absolute;
	max-width: 140px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #337ab7;
    background-color: #f3f3f3;
	z-index:2147483647	
}
.change-bg-close{
	cursor: pointer;
	float: right;
}
.change-bg-bt{
	cursor: pointer;
}

li.username{
	margin-left: 0px
}

.prof-li hr {
	margin:0px;
}