{%extends "base.html"%}
{%block content%}
<label class="col-md-9">
    <button class="admin-link" id='asd'>Reportes recientes</button>
    <button class="admin-link" id='modificacion'>modificacion de posts</button>
    <button class="admin-link" id='administracion_user'>Administracion usuarios</button>
    <div id="posts" class="col-lg-12">
        <h3 id='error' style='color:#c15646' hidden>No hay informacion que verificar</h3>
        <form  id='contenido' >
            <!-- contenido se agrega con ajax -->
        </form>
        <br>
    </div>
</label>

<div class="col-md-3">
    <br><br>
    <div class="well">
            <div class="row">
            <label class="col-lg-6">
                <input type="radio" class="Seleccion" name="seleccion" value="topic" >Posts
                <label>
                    <div class="col-lg-5" id='topicos'>
                    <input type="radio" name="topic" value="Animales">Animales
                    <input type="radio" name="topic" value="Tecnologia">Tecnologia
                    <input type="radio" name="topic" value="Preguntas">Preguntas
                    <input type="radio" name="topic" value="Musica">Musica
                    <input type="radio" name="topic" value="Programacion">Programacion
                </div>
                </label>
            </label>
            <label class="col-lg-6">
                    <input type="radio" class="Seleccion" name="seleccion" value="user">Users
                    <label>
                    <div class="col-lg-5" id='users'>
                        <input type="radio" name="user" value="admin">Admin
                        <input type="radio" name="user" value="user">User
                    </div>
                </label>
            </label>
            </div>
                        <!-- end topicos -->
    </div>
</div>
<!-- scripts -->
<script src="/js/admininfo.js"></script>
<script src="/js/admin2.js"></script>
<!-- scripts -->
{%endblock%}