{%extends "base.html"%}
{%block content%}

	<a class="admin-link" id='asd' href="#">Reportes recientes</a>
	<a class="admin-link" id='modificacion' href="#">Pedidos de modificacion de posts</a>
	<a class="admin-link" id='administracion_user' href="#">Administracion de usuarios</a>
	<a class="admin-link" id="administracion_post" href="#">Administracion de Posts</a>
	<br><br>
	
	<div id="posts" ALIGN="center" >
	<h3 id='error' style='color:#c15646' hidden>No hay informacion que verificar</h3>
    <form>
        <li id='contenido'>
        	
        </li>
    </form>
    <br>
	</div>
<!-- scripts -->
<script src="/js/admininfo.js"></script>
{%endblock%}