{%extends "base.html"%}
{%block content%}
<div class="well">
<label class="col-md-8">
    <p class="admin-link" id='asd'>Reportes recientes</p>
    <p class="admin-link" id='modificacion'>Modificacion de posts</p>
    <p class="admin-link" id='administracion_user'>Administracion usuarios</p>
    <div id="posts" class="col-lg-12">
        <h3 id='error' style='color:#c15646' hidden>No hay informacion que verificar</h3>
        <form  id='contenido' >
            <!-- contenido se agrega con ajax -->
        </form>
        <br>
    </div>
</label>

<div class="col-md-4">
    <br><br>
    <div class="well">
            <div class="row">
            <label class="col-lg-6">
                <p style="text-align: left"><input type="radio" class="Seleccion" name="seleccion" value="topic" >Posts</p>
                <label style="text-align: left">
                    <div class="col-lg-5" id='topicos'>
                    <p><input type="radio" name="topic" value="Animales">Animales</p>
                    <p><input type="radio" name="topic" value="Tecnologia">Tecnologia</p>
                    <p><input type="radio" name="topic" value="Preguntas">Preguntas</p>
                    <p><input type="radio" name="topic" value="Musica">Musica</p>
                    <p><input type="radio" name="topic" value="Programacion">Programacion</p>
                </div>
                </label>
            </label>
            <label class="col-lg-6">
                    <p style="text-align: left"><input type="radio" class="Seleccion" name="seleccion" value="user">Users</p>
                    <label style="text-align: left" id='users'>
                        <p><input type="radio" name="user" value="admin">Admin</p>
                        <p><input type="radio" name="user" value="user">User</p>
                </label>
            </label>
            </div>
                        <!-- end topicos -->
    </div>
</div>
</div>
<!-- scripts -->
<script src="/js/admininfo.js"></script>
<script src="/js/admin2.js"></script>
<!-- scripts -->
{%endblock%}