{%extends 'base.html'%}
{%block content%}
		{%if editable%}
			<h1>Edita tu post</h1>
		<form method="post">
			<label>
				<label style="color:gray;font-style:italic;font-size: 2ex">Título:</label>
				<label style="font-size: 3ex">{{title}}</label>
				<input type="hidden" name="subject" value="{{title}}">
			</label>
			<br>
			<br>
		{%else%}
			<h1>Manda lo que quieras</h1>
		<form method="post">
			<label>
				<h4 style="margin:0px">Título</h4>
				<input type="text" name="subject" value="{{title}}">
			</label>
			<br>
			<br>
		{%endif%}
			<label>
				<h4 style="margin:0px">Contenido</h4>
				<textarea name="content" style="width:400px;height:150px">{{post}}</textarea>
			</label>
			<div class='error' style="color:red">{{error}}</div>
			<div><button>Enviar</button></div>
		</form><FORM><INPUT style="float:right" Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM><br>
		<hr>
{%endblock%}