<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>{{pagename}} - Blog</title>
</head>
<body>
	<div id="header">
		<a href="/"><img src="http://image.flaticon.com/icons/svg/50/50422.svg" style="float:left;width: 24px; height: 24px;"></a>
		<form style="float:left" action="/profile">
			<input type="text" name="u" placeholder="Buscar usuario por nombre">
			<button>Buscar</button>
		</form>
		{%if user%}
			<a href="/profile" class="header-link">{{user.user_id}}</a>
			{%if user.user_type=="admin"%}
				<a href="/admin" class="header-link">Admin Panel</a>
			{%endif%}   
			<a href="/newpost" class="header-link">Postear</a>
			<a href="/logout" class="header-link">Salir</a>
			<a class="header-link" id="inbox-link" onclick="activate()">Bandeja de entrada</a>
			<br>
			<br>
		{%else%}
			<a href="/signup" class="header-link">Registrar</a>   
			<a href="/login" class="header-link">Iniciar sesion</a>
			<br>
			<br>
		{%endif%}
	</div>
	<div id='bandeja'>
		{%if recent_msg%}
			{%for msg in recent_msg%}
				<center>
					{{msg.subject}}
				</center>
				<br>
				De: <a href="/profile?u={{msg.submitter}}">{{msg.submitter}}</a><br>
				<center>
					{{msg.content}}
				</center>
				<hr>
			{%endfor%}
		{%endif%}
	</div>
	{%block content%}
	{%endblock%}
	<script src="/js/jquery.js"></script>
	<script src="/js/javascript.js"></script>
</body>
</html>