<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>{{pagename}} - Blog</title>
</head>
<body>
<div class="page-header">
	<br>
	<a href="/"><img src="http://image.flaticon.com/icons/svg/50/50422.svg" style="float:left;width: 24px; height: 24px;"></a>
	<form style="float:left" action="/profile">
		<input type="text" name="u" placeholder="Buscar usuario por nombre">
		<button>Buscar</button>
	</form>
		{%if user%}
			<center style='height: 0px'><a href="/profile" style="font-size: 3ex;text-decoration: none;">{{user}}</a></center>
			<a href="/logout" style="float: right;text-decoration: none;">Salir</a>   
			<a href="/newpost" style="float:right;text-decoration: none;">Postear&nbsp;&nbsp;</a>
			<br>
			<hr>
		{%else%}
			<a href="/signup" style="float:right;text-decoration: none;">Registrar</a>   
			<a href="/login" style="float: right;text-decoration: none;">Iniciar sesion&nbsp;&nbsp;</a>
			<br>
			<hr>
		{%endif%}
</div>
	<div id="header">
	<br>
		<a href="/"><img src="http://image.flaticon.com/icons/svg/50/50422.svg" style="float:left;width: 24px; height: 24px;"></a>
		<form style="float:left" action="/profile">
			<input type="text" name="u" placeholder="Buscar usuario por nombre">
			<button>Buscar</button>
		</form>
		{%if user%}
			<a href="/profile" class="header-link">{{user.user_id}}</a>
			{%if user.user_type=="admin"%}
				<a href="/admin" class="header-link">Admin Panel</a>
			{%endif%}
			<a href="/logout" class="header-link">Salir</a>   
			<a href="/newpost" class="header-link">Postear</a>
			<br>
			<hr>
		{%else%}
			<a href="/signup" class="header-link">Registrar</a>   
			<a href="/login" class="header-link">Iniciar sesion</a>
			<br>
			<hr>
		{%endif%}
	</div>
<div class="page-content">
<br><br><br>
	{%block content%}
	{%endblock%}
</div>
</body>
</html>