<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pagename}} - Blog</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
{%if user%}
	{%if user.pref_color%}
	<body style='background-color: {{user.pref_color}}'>
	{%elif user.img%}
	<body background="/view_photo/{{user.img}}">
	{%else%}
	<body>
	{%endif%}
{%else%}
<body>
{%endif%}

<nav class="menu navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/posts/news">Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id='page-link'><a href="/">Principal</a></li>
        {%if user%}
	        <li><a id="inbox-link" onclick="activate()">Mensajes</a></li>
	        <li id="newpost-link"><a href="/newpost">Postear</a></li>
      	{%endif%}
      </ul>
	  <div id='bandeja'>
	    {%if recent_msg%}
	      {%for msg in recent_msg%}
	        <center style='color: white'>
	          {{msg.subject|safe}}
	        </center>
	        <br>
	        {%if msg.submitter != "Administracion"%}
	          De: <a href="/profile?u={{msg.submitter}}">{{msg.submitter}}</a><br>
	        {%else%}
	          De: Administración<br>
	        {%endif%}
	        <center style='color: white'>
	          {{msg.content|safe}}
	        </center>
	        <br>
	        {%if msg.submitter != 'Administracion'%}
	          <a href='/profile/_sendpm?u={{msg.submitter}}'>Responder</a>
	        {%endif%}
	        <hr>
	      {%endfor%}
	    {%endif%}
	  </div>
      {%if user%}
	      <ul class="nav navbar-nav navbar-right">
	        <li><a style="padding:0px;padding-top: 10px;margin-right: 25px">
		        {%if user.img%}
		        	<img src="/view_photo/{{user.img}}" class="img-circle" height="35" width="35" alt="Avatar">
		        {%else%}
		        	<img src="/img/profile.jpg" class="img-circle" height="35" width="35" alt="Avatar">
		        {%endif%}{{user.displayName}}</a>
	        	<ul>
	        		<li><a href="/profile">Mi perfíl</a></li>
	        		{%if user.user_type == 'admin'%}
	        		<li><a href="/admin">Administración</a></li>
	        		{%endif%}
	        		<li><a href="/profile/_edit">Editar perfíl</a></li>
	        		<li><a href="/profile/_editpass">Cambiar contraseña</a></li>
	        		<li><a href="/logout">Salir</a></li>
	        	</ul>
	        </li>
	      </ul>
	  {%else%}
	  	  <ul class="nav navbar-nav navbar-right">
	        <li><a href="/signup"> Registrar</a>
	        </li>
	        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
	      </ul>
	  {%endif%}
    </div>
  </div>
</nav>
  
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
      {%if user%}
        <a href="/profile"><p>Mi perfíl</p>
        {%if user.img%}
        	<img src="/view_photo/{{user.img}}" class="img-circle" height="65" width="65" alt="Avatar">
        {%else%}
        	<img src="/img/profile.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        {%endif%}
        </a>
      {%else%}
      	<form action="/login" method="post">
      		<input style="width: 100%;margin:2%" type="text" name="username" placeholder="Usuario">
      		<input style="width: 100%;margin:2%" type="password" name="password" placeholder="Contraseña">
      		<input type="hidden" name="pathname" class="pathname">
      		<input style="margin:2%" type="submit" name="submit" value="Iniciar Sesión">
      	</form>
      {%endif%}
      </div>
      <div class="well">
        <p>Publicaciones</p>
        <p>
          <a href="/posts/news"><span class="label label-default">Novedades</span></a>
          <a href="/posts/animales"><span class="label label-primary">Animales</span></a>
          <a href="/posts/musica"><span class="label label-success">Música</span></a>
          <a href="/posts/tecnologia"><span class="label label-info">Tecnología</span></a>
          <a href="/posts/preguntas"><span class="label label-warning">Pregúntas</span></a>
          <a href="/posts/programacion"><span class="label label-danger">Programación</span></a>
        </p>
      </div>
      {%if user%}
      	{%if user.banned_from_comments and user.banned_from_posting%}
	      <div style='color:red'class="alert alert-success fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	        <p><strong>Ey!</strong></p>
	        No puedes comentar ni publicar
	      </div>
	    {%elif user.banned_from_comments%}
	      <div style='color:red'class="alert alert-success fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	        <p><strong>Ey!</strong></p>
	        No puedes comentar
	      </div>
	    {%elif user.banned_from_posting%}
	      <div style='color:red'class="alert alert-success fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	        <p><strong>Ey!</strong></p>
	        No puedes publicar
	      </div>
	    {%endif%}
	   {%endif%}
		{%if post%}
			{%if post.submitter == 'ti'%}
				{%if post.modificable == 'pending'%}
			      <div class="alert alert-success fade in">
			        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
			        Tu petición esta en proceso
			      </div>					
				{%endif%}
			{%endif%}
		{%endif%}
	  {%if user%}
	      <p><a href="/profile/_viewcomments?u={{user.displayName}}">Comentarios</a></p>
	      <ul class="change-bg">
		  <label class="change-bg-close">x</label>
		  <form action="/change-bg">
		  <input type="hidden" name="pathname" class="pathname">
		  <input type="color" name="color">
		  <input type="submit" name="submit" value="Guardar"></form>
		  <form action="/change-bg">
		  <input type="hidden" name="pathname" class="pathname">
		  <input type="hidden" name="img" value="{{user.img}}"><button>Usar foto de perfil</button></form></ul>
	      <p><a href="/profile/_viewposts?u={{user.displayName}}">Posts</a></p>
	      <p><a href="/profile/_edit">Editar perfíl</a></p>
	      <p class="change-bg-bt"><a>Cambiar fondo ►</a></p>
	  {%endif%}
    </div>
    <div class="col-sm-9">
    
    {%if user%}
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default text-left well" style="height: 90px;padding: 0px">
            <div class="panel-body">
              <p style="display: inline-block;">¿Tienes alguna duda?&nbsp;</p><p id="subjectp" contenteditable="True" style="display: inline-block;">Pregunta...</p>
            	<form action="/newpost" method="post">
            		<input type="hidden" name="subject" id="subject" value="Pregunta...">
            		<input type="text" placeholder="Que quieres saber?" name="content" style="width: 80%">
            		<input type="hidden" name="topic" value="Preguntas">
            		<input type="submit" style="float: right;width: 20%" name="submit" onclick="load_p()" value="Publicar">
            		<script type="text/javascript">
            			function load_p(){
            			var subject = $('#subjectp').html();
            			if (subject.length > 0){
            				$('#subject').val(subject)
            			}}
            		</script>
            	</form>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">		      
		      <div class="well" style="height: 90px;padding-bottom: 0px">
		      <form class="navbar-form navbar-right" style="margin: 0px;float: inherit !important;" action="/search" role="search">
		        <div class="form-group input-group">
		          <input type="text" class="form-control" name="q" placeholder="Buscar..." required="true">
		          <span class="input-group-btn">
		            <button class="btn btn-default" type="submit">
		              <span class="glyphicon glyphicon-search"></span>
		            </button>
		          </span>
		        </div>
		        <div><input type="radio" name="filter" checked="" value="all">Todo<input type="radio" name="filter" value="user">Personas<input type="radio" name="filter" value="post">Posts<input type="radio" name="filter" value="comment">Comentarios</div>
		      </form>		      
		  </div>
		  </div>
    </div>
    {%endif%}
      <div class="row">
	      <div class="page-content">
	        {%block content%}
	        {%endblock%}
	      </div>
	  </div>
    </div>
  </div>
</div>

<center><div id="loading" style="color:blue;font-weight:bold;"></div></center>

{%if profile%}
 		{%if profile.img%}
 			<script type='text/javascript'>
 				user_img = "{{profile.img}}"
 			</script>
 			<div class="img-viewer"><img class="img-viewer-img" src='/view_photo/{{profile.img}}'>
 		{%else%}
 			<div class="img-viewer"><img class="img-viewer-img" src='/img/profile.jpg'>
 		{%endif%}
 			<label id="img-viewer-close">Cerrar</label>
 		{%if modificable == True%}
	        <form action="{{upload_url}}" method="POST" runat="server" enctype="multipart/form-data" class="change-pic"> 
	          Cambiar foto: <input id="imginput" type="file" name="file"><br> 
 	          <input type="submit" name="submit" value="Guardar"> 
 	        </form>
 	    {%endif%}
 		 </div>
{%endif%}
	<script type="text/javascript">
		var pathname = window.location.pathname;
		$('.pathname').val(pathname)

	</script>
  <script src="/js/jquery.js"></script>
  <script src="/js/javascript.js"></script>
</body>
</html>


