<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<title>Edita tu perfil</title>
	</head>
	<body>
		<form method="post">
			<div id="edit-holder">
				<label>Nombre de usuario fijo: <b>{{user.user_id}}</b></label><br><br>
				<label>Apodo</label>
				<input type="text" name="nickname" value="{{user.displayName}}" class="editable"><div class="error">{{erroruser}}</div></input><br><br>
				<label>Numero de telefono</label>
				<input type="text" name="tel" value="{{user.user_tel}}" class="editable"><div class="error">{{errortel}}</div></input><br><br>
				<label>Fecha de nacimiento</label>
		            <select name='date1' placeholder="AAAA">
		                {%for year in years%}
		                    <option value='{{year}}'>{{year}}</option>
		                {%endfor%}
		            </select>
		             <select name='date2' placeholder="MM">
		                {%for month in months%}
		                    <option value='{{month}}'>{{month}}</option>
		                {%endfor%}
		             </select> 
		             <select name='date3' placeholder="DD">
		                {%for day in days%}
		                    <option value='{{day}}'>{{day}}</option>
		                {%endfor%}
		            </select><div class="error">{{errordate}}</div></input><br><br>
				<label>Descripcion</label><br>
				<textarea name="description" id="desc-area">{{user.user_desc}}</textarea><br><br>
				<!-- <div id="upload" >{{imgadd}}</div>
				<div class="dropzone" id="dropzone" >agregue la imagen aqui</div> -->
				<label>Para guardar introduzca su contrasena actual aqui >>></label>
				<input type="password" name="actualpassword" class="editable"><div class="error">{{passerror}}<div></input><br>
				<button type="submit">Guardar</button>
			</div>
			<!-- <script>
				(function() {
					var dropzone = document.getElementById('dropzone');
					var upload = function(file) {
						var formData = new FormData(),
						hxr = new XMLHttpRequest();
						console.log(file);
						// formData.append('file',file);
					};
					dropzone.ondrop = function(e) {
						e.preventDefault();
						this.className ='dropzone';
						var upload = document.getElementById('upload')
						upload.className()
						console.log(e.dataTransfer.file);
					};
					dropzone.ondragover = function() {
						this.className = 'dropzone dragover';
						return false;
					};
					dropzone.ondragleave = function() {
						this.className ='dropzone';
						return false;
					};
				}());
			</script> -->
	</body>
</html>