{%extends 'base.html'%}
{%block content%}
	<form method="post">
		<label>Antigua contraseña<input type="password" name="oldpass"></label>
		<br>
		<div class="error">{{errorpass}}</div>
		<br>
		<label>Nueva contraseña<input type="password" name="newpass"></label>
		<br>
		<div class="error">{{errornew}}</div>
		<br>
		<label>Confirmar nueva contraseña<input type="password" name="verify"></label>
		<br>
		<div class="error">{{errorverify}}</div>
		<br>
		<button>Guardar cambios</button>	
	</form>
{%endblock%}