{%extends 'base.html'%}
{%block content%}
		<form method="post">
			<div id="edit-holder">
				<label>Nombre de usuario fijo: <b>{{user.user_id}}</b></label><br><br>
				<label>Apodo</label>
				<input type="text" name="nickname" value="{{user.displayName}}" class="editable"><div class="error">{{erroruser}}</div></input><br><br>
				<label>Numero de telefono</label>
				<input type="text" name="tel" value="{{user.user_tel}}" class="editable"><div class="error">{{errortel}}</div></input><br><br>
				<label>Fecha de nacimiento</label>
		            <select name='date1' placeholder="AAAA">
		                {%for year in years%}
		                    <option value='{{year}}'>{{year}}</option>
		                {%endfor%}
		            </select>
		             <select name='date2' placeholder="MM">
		                {%for month in months%}
		                    <option value='{{month}}'>{{month}}</option>
		                {%endfor%}
		             </select> 
		             <select name='date3' placeholder="DD">
		                {%for day in days%}
		                    <option value='{{day}}'>{{day}}</option>
		                {%endfor%}
		            </select><div class="error">{{errordate}}</div></input><br><br>
				<label>Descripcion</label><br>
				<textarea name="description" id="desc-area">{{user.user_desc}}</textarea><br><br>
				<label>solicitar cambio de usuario<input type="checkbox" name="solicitar" value="True"></label>
				<input type="textarea" name="rason">
				<br>
				<label>Para guardar introduzca su contrasena actual aqui >>></label>
				<input type="password" name="actualpassword" class="editable"><div class="error">{{passerror}}<div></input><br>
				<button type="submit">Guardar</button>
			</div>
{%endblock%}