{%extends 'base.html'%}
{%block content%}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(dibujar);
	function dibujar() {
		var data = new google.visualization.DataTable();
		data.addColumn('string','Temática');
		data.addColumn('number','Cantidad de publicaciones');		
		data.addRows([['Animales',{{t1}}],['Tecnología',{{t2}}],['Preguntas',{{t3}}],['Música',{{t4}}],['Programación',{{t5}}]]);
		var opciones = {'is3D':true,'title':'Porcentaje de posts por temática'};
		var opciones2 = {'title':"Cantidad de posts por temática"}
		var grafica = new google.visualization.PieChart(document.getElementById('chart'));
		grafica.draw(data,opciones);
		var data2 = new google.visualization.DataTable();
		data2.addColumn('string', 'Temática');
		data2.addColumn('number', 'Cantidad de publicaciones');
		data2.addRows([['Animales',{{t1}}],['Tecnología',{{t2}}],['Preguntas',{{t3}}],['Música',{{t4}}],['Programación',{{t5}}]]);
		var grafica2 = new google.visualization.BarChart(document.getElementById('chart2'));
		grafica2.draw(data2,opciones2);
	}
</script>
<center>
<span id="chart" style="border:black solid 1px"></span>
<span id='chart2' style="border:black solid 1px"></span>
</center>
{%endblock%}