{%extends 'base.html'%}
{%block content%}
<h2>{%if mios == True%}
		Mis comentarios
	{%else%}
		Comentarios de {{author}}
	{%endif%}
</h2>
	{%if comments%}
		{%for comment in comments%}
			<div class="post-comment">
				<div id="post-comment-title"><a id="link-to-post" href="/{{comment.post}}">{{comment.title}}</a>: </div> <div id="post-comment-content"> {{comment.content}}</div><br>
				<div id="post-comment-submitter">Enviado por: <a id="comment-submitter" href="/profile?u={{comment.submitter.split('|')[0]}}">{{comment.submitter.split("|")[0]}}</a></div><br>
				<div>created: {{comment.created_str}}</div>
				<br>
			</div>
			<hr>
		{%endfor%}
	{%else%}
		Ningun comentario encontrado.
		<FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
	{%endif%}
{%endblock%}