<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<h1>Login</h1>
	<form method="post">
		<label><b>Username</b>
			<input type="text" name="username" value="{{username}}">
		</label><label style='color:red'>{{erroruser}}</label><br>
		<label><b>Password</b>
			<input type="password" name="password">
		</label><label style="color:red">{{errorpass}}</label><br>
		<button>Submit</button>
	</form>
	<a href='/signup' style="padding-left: 5px;float:right">Registrate</a>
	<a href="/" style="float:right">Volver</a>
</body>
</html>