{%extends 'base.html'%}
{%block content%}
<center>
<div class="banned-error">{{errorbanned}}</div>
{%if posts%}
	{%for post in posts%}
		<h2 style="margin-left:20%;margin-right:20%;margin-bottom:70px"><a id="post-title" href="/{{post.key().id()}}">{{post.title}}</a></h2>
		<div style="max-width:500px;word-wrap:break-word"><pre>{{post.post}}</pre></div>
		{%if post.submitter.split("|")[1] != "False"%}
			<label style="float:left">Enviado por: <a id="post-submitter" href="/profile?u={{post.submitter.split('|')[0]}}">{{post.submitter.split("|")[0]}}</a></label>
		{%else%}
			<label style="float:left">Enviado por: <a id="post-submitter-deleted">{{post.submitter.split("|")[0]}}</a></label>
		{%endif%}
		<label style="float:right">{{post.created_str}}</label><br>
		<hr>
		{%if request%}
			Razon: <label class="reported-comment" style="color:red;">{{post.razon}}</label>
			<a href="/admin/post_requests?post={{post.key().id()}}&action=deny_request"><button id="edit-link">Rechazar</button></a>
			<a href="/admin/post_requests?post={{post.key().id()}}&action=accept_request"><button id="edit-link">Permitir</button></a>
		{%endif%}
	{%endfor%}
{%else%}
<h1>Esto esta vacio</h1>
<FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
<br>
{%endif%}
</center>
{%endblock%}