{%extends 'base.html'%}
{%block content%}
<center>
<div class="banned-error">{{errorbanned}}</div>
{%if data%}
<script type="text/javascript" src="/js/javascript.js"></script>
<script type="text/javascript">
	var posts = []
	for (el in {{data|safe}}){
		posts.push({{data|safe}}[el])
	}
	var mios = String("{{mios}}")
	var request = String("{{request}}")
	var limit = {{limit}}
	load_data(posts=posts,mios=mios,request=request,limit=limit)
</script>
{%else%}
<h1>Esto esta vacio</h1>
<FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
<br>
{%endif%}
</center>
{%endblock%}