{%extends 'base.html'%}
{%block content%}
{%if data%}
<script type="text/javascript" src="/js/javascript.js"></script>
<script type="text/javascript">
	var posts = []
	for (el in {{data|safe}}){
		posts.push({{data|safe}}[el])
	}
	var mios = String("{{mios}}")
	var request = String("{{request}}")
	var limit = {{limit}}
	load_data(posts=posts,mios=mios,request=request,limit=limit)
</script>
<script type="text/javascript">
	$('ul.navbar-nav > li#page-link').addClass('active');
</script>
{%endif%}
{%endblock%}