{%extends 'base.html'%}
{%block content%}
<center>

{%if post%}
<div class="well">
		{%if post.submitter == 'ti'%}
			<label class="post-options-bt" style="float:right">▼
				<ul id="post-options">
				<li><a href="/{{post.key().id()}}/_editpost">Editar</a></li>
				{%if post.visible%}
					<li><a href="/profile/_viewposts?post={{post.key().id()}}&visible=0">Ocultar</a></li>
				{%else%}
					<li><a href="/profile/_viewposts?post={{post.key().id()}}&visible=1">Mostrar</a></li>
				{%endif%}
				</ul></label>
		{%endif%}
		{%if post.submitter_pic%}
			<a href="/profile?u={{post.submitter}}"><div style="width: 55px;height: 55px;float: left;"><img src="/view_photo/{{post.submitter_pic}}" class="img-circle" height="55" width="55" alt="Avatar"></div></a>
		{%else%}
			<a href="/profile?u={{post.submitter}}"><div style="width: 55px;height: 55px;float: left;"><img src="/img/profile.jpg" class="img-circle" height="55" width="55" alt="Avatar"></div></a>
		{%endif%}
		<h2 style="margin-left:20%;margin-right:20%"><a id="post-title">{{post.title}}</a></h2>
		<div style="max-width:500px;word-wrap:break-word"><p style="max-width: 80%">{{post.post}}</p></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<label style="font-size:80%;float:right;color:gray;font-style:italic">{{post.created_str}}</label>
		<label class="container"> 
		    <a class="like"><i class="fa fa-thumbs-o-up"></i>  
		        Like: <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
		    </a>
		    <a class="dislike"><i class="fa fa-thumbs-o-down"></i> 
		        Dislike: <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
		    </a>
		</label>
		{%if user%}
			<a class="button" style="float: left;" href="/{{post.key().id()}}?action=newcomment">Envía tu comentario</a>
		{%endif%}
		<br>
		<hr>
		{%if comments%}
			{%for comment in comments%}
				<div class="post-comment">
				{%if comment.submitter_pic%}
					<a href="/profile?u={{comment.submitter}}"><div style="width: 55px;height: 55px;float: left;"><img src="/view_photo/{{comment.submitter_pic}}" class="img-circle" height="55" width="55" alt="Avatar"></div></a>
				{%else%}
					<a href="/profile?u={{comment.submitter}}"><div style="width: 55px;height: 55px;float: left;"><img src="/img/profile.jpg" class="img-circle" height="55" width="55" alt="Avatar"></div></a>
				{%endif%}
				{%if user%}
					<label class="comment-options-bt">▼<ul class="comment-options">
						{%if post.submitter == 'ti' and comment.submitter.split('|')[0]!='ti'%}
							<li><a href="/{{post.key().id()}}?action=deletecomment&c={{comment.key().id()}}">Borrar</a></li>
						{%endif%}
						{%if comment.submitter.split("|")[1] != "False"%}
							{%if comment.submitter.split('|')[0]=='ti'%}
								<li><a href="/{{post.key().id()}}?action=deletecomment&c={{comment.key().id()}}">Borrar</a></li>
								<li><a href="/{{post.key().id()}}?action=editcomment&c={{comment.key().id()}}">Modificar</a></li>
							{%else%}
								{%if comment.submitter != 'ti' and user%}
									<li><a href="/{{post.key().id()}}?action=reportcomment&c={{comment.key().id()}}">Reportar</a></li>
								{%endif%}
							{%endif%}
						{%endif%}
					</ul></label>
				{%endif%}
				<div id="post-comment-content"> {{comment.content}}</div>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
					<div style="margin-top: 20px;font-size:80%;float:right;color:gray;font-style:italic">{{comment.created_str}}</div>
					<label class="container"> 
					    <a class="like"><i class="fa fa-thumbs-o-up"></i>  
					        Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
					    </a>
					    <a class="dislike"><i class="fa fa-thumbs-o-down"></i> 
					        Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
					    </a>
					</label>
				</div>
				<div style="display:none" id="hidden-edit-{{comment.key().id()}}">
					<form method="post">
						<textarea id="comment" name="content">{{comment.content}}</textarea>
						<button type="submit">Guardar comentario</button><FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
					</form>
				</div>
				<div style="display:none" id="hidden-report-{{comment.key().id()}}">
					<form method="post">
						<input type="text" id="comment" name="razon" placeholder="Escribe una razon valida"></input>
						<button type="submit">Reportar comentario</button><FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
					</form>
				</div>
			{%endfor%}
		{%endif%}
		{%if newcomment==True%}
			<script type='text/javascript'>
				$(document).ready(function(){
					$(window).scrollTop(document.body.scrollHeight)
				})
			</script>
			<form method="post">
				<textarea id="comment" name="content">{{content}}</textarea>
				<button type="submit">Enviar comentario</button><FORM><INPUT Type="button" VALUE="Volver" onClick="history.go(-1);return true;"></FORM>
			</form>
		{%endif%}
		{%if editcomment==True%}
			<script type='text/javascript'>
				$("#hidden-edit-"+"{{comment.key().id()}}").css("display","block")
			</script>
		{%endif%}

		{%if reportcomment==True%}
			<script type='text/javascript'>
				$("#hidden-report-"+"{{comment.key().id()}}").css("display","block")
			</script>
		{%endif%}


		{%if editcomment==True%}
			<script type='text/javascript'>
				$("#hidden-edit-"+"{{comment.key().id()}}").css("display","block")
			</script>
		{%endif%}

		{%if reportcomment==True%}
			<script type='text/javascript'>
				$("#hidden-report-"+"{{comment.key().id()}}").css("display","block")
			</script>
		{%endif%}
		<script type="text/javascript">
			$('.post-options-bt').hover(function(){
				$(this).children().css('display','block')},function(){$(this).children().css('display','none')

			})
		</script>
		<script type="text/javascript">

		$(function () {
			$(".like").click(function () {
				var input = $(this).find('.qty1');
				var id_obj = $(this).parent().attr('id');
				console.log(id_obj);
				$.ajax({
					url: '/likes',
					type: 'GET',
					dataType: 'json',
					data: {'id_obj': id_obj},
				})
				.done(function(data) {
					if (data) {
						input.val(input.val() + 1);
						$(this).next('input: first-child').val()-1;
					}
					else {input.val(input.val() + 1);}
					console.log("success");
				})
				.fail(function() {
					console.log("error");
				});

			});
     		$(".dislike").click(function () {
         		var input = $(this).find('.qty2');
         		var id_obj = $(this).parent().attr('id')
         		$.ajax({
					url: '/dislikes',
					type: 'GET',
					dataType: 'json',
					data: {'id_obj': id_obj},
				})
				.done(function(data) {
					if (data) {
						input.val(input.val() + 1);
						$(this).sibling().children().val()-1;
					}
					else {input.val(input.val() + 1);}
					console.log("success");
				})
				.fail(function() {
					console.log("error");
				});
     		});
  		});
		</script>
</div>
{%endif%}
</center>
{%endblock%}