<!doctype hmtl>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<title>Profile - {{user.displayName}}</title>
	</head>
	<body>
		<div id="user-holder">
			<div><b id="nickname">{{user.displayName}}</b></div><br><br>
			<div id="profile-picture">Pic</div>
			<div id="user-info">
				{%if modificable == True%}
					<b>Nombre de usuario:</b> {{user.user_id}}<br>
				{%endif%}
				<b>Fecha de nacimiento</b>: {{user.user_date}}<br>
				<b>Numero de telefono</b>: {{user.user_tel}}<br>
				<b>E-Mail</b>: {{user.user_mail}}<br>
				{%if desc%}
					<b>Descripcion</b>: {{desc}}
				{%endif%}<br><br>
				{%if modificable == True%}
					<button><a href="/profile/_edit">Modificar informacion</a></button>
					<button><a href="/profile/_editpass">Cambiar contrasenia</a></button><br>
				{%endif%}
				<a href="/profile/_viewposts?u={{user.displayName}}">Publicaciones/topicos</a>
				<a href="/profile/_viewcomments?u={{user.displayName}}">Comentarios</a>
			</div>

		</div>

	</body>
</html>