{%extends 'base.html'%}
{%block content%}
    <form method='post'>
        <h2>Registrate</h2>
        <br>
        <label><b>Nombre de usuario</b>
            <input type='text' name='username' value='{{username}}'>
        </label><label name='erroruser' style='color:red' value=''>{{erroruser}}</label><br>
        <label><b>Apodo</b>
            <input type='text' name='displayName' value='{{displayName}}'>
        </label><label name='errordisplay' style='color:red' value=''>{{errordisplay}}</label><br>
        <label><b>Contraseña</b>
            <input type='password' name='password'>
        </label><label name='errorpass' style='color:red' value=''>{{errorpass}}</label><br>
        <label><b>Verificar contraseña</b>
            <input type='password' name='verify' value=''>
        </label><label name='errorverify' style='color:red' value=''>{{errorverify}}</label><br>
        <label><b>Correo</b>
            <input type='text' name='email' value='{{email}}'>
        </label><label name='errormail' style='color:red' value=''>{{errormail}}</label><br>
        <label><b>Teléfono</b>
            <input type='text' name='tel' value="{{tel}}">
        </label><label name='errortel' style='color:red' value=''>{{errortel}}</label><br>
        <label><b>Fecha de nacimiento</b>
            <select name='date1'>
                {%for year in years%}
                    <option value='{{year}}'>{{year}}</option>
                {%endfor%}
            </select>
             <select name='date2'>
                {%for month in months%}
                    <option value='{{month}}'>{{month}}</option>
                {%endfor%}
             </select> 
             <select name='date3'>
                {%for day in days%}
                    <option value='{{day}}'>{{day}}</option>
                {%endfor%}
            </select>
        </label><label name='errordate' style='color:red' value=''>{{errordate}}</label><br>
        <label><b>Descripción (opcional)</b>
            <textarea id="desc-area" name='description' value='{{description}}'>
        </label><label name='errordesc' style='color:red' value=''>{{errordesc}}</label><br>
        <br>
        <button>Registrar</button>
        <br>
    </form>
{%endblock%}