{%extends "base.html"%}
{%block content%}
	{% if query == 'comments_cache' %}
		<form method="post" id="{{info.comment_id}}" name="{{info.comited_id}}" class="col-lg-8" >
	        <p>coment submete by:{{info.submitter}}</p>
	        <p> creado: {{info.created}}</p>
	        <p>
	        	<a href="/{{info.post}}">Post</a>
	        </p>
	        <p>{{info.content}}</p>
	        <p>Reportado</p>
	        <b>{{info.razon}}</b>
	        <br>
	        <input type='checkbox' name='report'>Quitar comentario</input>
	        <input type='submit'>
	    </form>
	{% elif query == 'post_cache' %}
		<form method="post" name='{{info.post_id}}' id='{{info.post_id}}' class="col-lg-8">
            <p>post <a href="/{{info.title}}">{{info.title}}</a></p>
            <p>creado:{{info.created}}</p>
            <p>{{info.topic}}</p>
            <b> {{info.post}} </b>
            <b>{{info.razon}}</b>
            <br>
            <p>quitar post</p>
            <select name='show'>
                  <option value="False">false</option>
                  <option value="True">true</option>
            </select>
            <input type='text' name='permiso'>
	        <input type='submit'>
        </form>
    {% elif query == 'user_cache' %}
    	<form method="post" name='{{info.userid}}' id='{{info.userid}}' class="col-lg-8">
            <p>Nombre de usurio:{{info.displayName}}</p>
            <p>Usuario Estado:{{info.user_type}}</p>
            <p>Rason de Cambio:{{info.rason_solicitud_cambio}}</p>
            <hr>
            <label class="col-lg-8">
            <label class='col-lg-4'>
            <p>permiso de usuario </p>
            <select name='user_type'>
            	<option value="">None</option>
            	<option value="admin">admin</option>
            	<option value="user">user</option>
            </select>
            </label>
            <label class='col-lg-4'>
            <p>permiso de posteo</p>
            <select name="banned_from_posting">
            	<option value="">None</option>
            	<option value="True">true</option>
            	<option value="False">false</option>
            </select>
            </label>
            <label class='col-lg-4'>
            <p>permiso de comentar</p>
            <select name="banned_from_comments">
            	<option value="">None</option>
            	<option value="True">true</option>
            	<option value="False">false</option>
            </select>
            </label>
            </label>
            <br>
	        <input class='button' type='submit'>
        </form>
	{% endif %}
{%endblock%}

